<header class="container">
    <div class="navbar navbar-header bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size:30px; color: white; margin-left: 10px;" class="fas fa-shipping-fast"></i>
            
            <strong style="font-family: 'Courier New', Courier, monospace;color: white;">ARPIT E-Com</strong>
            
            <div class="form-group">
                <input type="text" placeholder="Search Products" class="form-control">
            </div>

            <span class="fas fa-search search-icon"></span>
        </div>

        <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 11px;" class="badge bg-danger">{{TotalItem}}</div>
        </button>
    </div>

    
</header>